<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart Offices</title>
  </head>
  <body>
    <div class="container">
      <h1>J&J Brick Shippers Smart Offices</h1>

      <h2>Get Light Details by ID</h2>
      <form action="/getLight" method="POST">
        <label
          >Enter an ID from 1-20:
          <input
            type="text"
            name="lightEntered"
            id="lightEntered"
            value="<%= lightEntered %>"
        /></label>
        <button type="submit">Submit</button>
      </form>

      <div>
        <% if (response) { %>
        <div>
          <p><strong>Light ID: </strong><%= response.id %></p>
          <p><strong>Location: </strong><%= response.location %></p>
          <p><strong>Brightness: </strong><%= response.brightness %></p>
          <p><strong>Color: </strong><%= response.color %></p>
        </div>
        <% } %>
      </div>
      <div class="flex">
        <p><strong>Security Service Address:&nbsp;</strong></p>
        <p><%= address %></p>
      </div>
    </div>
  </body>
  <style>
    body {
      height: 100vh;
      width: 100%;
      background-color: rgb(239, 169, 119);
      margin: 0;
    }
    .container {
      padding: 0 40px;
    }
    h1 {
      width: 100%;
      text-align: center;
      margin: 0;
      padding: 40px 0;
    }
    .flex {
      display: flex;
    }
  </style>
</html>
